# Flight Price Prediction EDA

In [1]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

E:\Anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
E:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
E:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
train_df=pd.read_excel("Dataa_Trainn.xlsx") #Reading train data 
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
test_df=pd.read_excel("Test_set.xlsx") #Reading test data 
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [52]:
final_df = train_df.append(test_df) #appended train_df and test_df
#final_df.head()
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [53]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [54]:
#Feature Engineering : Spliting the date of journey into 3 features
final_df['Date']= final_df["Date_of_Journey"].str.split('/').str[0]
final_df['Month']= final_df["Date_of_Journey"].str.split('/').str[1]
final_df['Year']= final_df["Date_of_Journey"].str.split('/').str[2]

In [55]:
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019

In [ ]:
#spliting the date of Joureny into 3 features
final_df['Date']= final_df["Date_of_Journey"].apply(lambda x:x.split('/')[0])
final_df['Month']= final_df["Date_of_Journey"].apply(lambda x:x.split('/').[1])
final_df['Year']= final_df["Date_of_Journey"].apply(lambda x:x.split('/').[2])

In [56]:
#Converting object type to int
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [57]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [58]:
final_df.drop('Date_of_Journey', axis=1, inplace=True)
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [59]:
 final_df['Arrival_Time'] = final_df['Arrival_Time'].str.split(' ').str[0]

In [60]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [61]:
final_df['Arrival_Hour'] = final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_Min'] = final_df['Arrival_Time'].str.split(':').str[1]

In [62]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [63]:
final_df['Arrival_Hour']=final_df['Arrival_Hour'].astype(int)
final_df['Arrival_Min']= final_df['Arrival_Min'].astype(int)

In [64]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hour     13354 non-null  int32
 14  Arrival_Min      13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [65]:
final_df['Dep_Hour'] = final_df['Dep_Time'].str.split(':').str[0]
final_df['Dep_Min'] = final_df['Dep_Time'].str.split(':').str[1]

In [66]:
final_df['Dep_Hour']=final_df['Dep_Hour'].astype(int)
final_df['Dep_Min']= final_df['Dep_Min'].astype(int)

In [67]:
final_df.drop('Arrival_Time', axis=1, inplace=True)

In [68]:
final_df.drop('Dep_Time', axis=1, inplace=True)

In [69]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop': 0, '2 stops' : 2 , '1 stop': 1, '3 stops' : 3, "nan": 1, '4 stops' : 4})

In [70]:
final_df['Total_Stops'].unique() #check how many null values are present in the Total_stops

array([ 0.,  2.,  1.,  3., nan,  4.])

In [71]:
final_df[final_df['Total_Stops'].isnull()] #Trying to fetch null record to identify the null record

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [72]:
final_df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50

In [73]:
final_df.drop('Route', axis =1, inplace=True)

In [74]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int32
 8   Month            13354 non-null  int32
 9   Year             13354 non-null  int32
 10  Arrival_Hour     13354 non-null  int32
 11  Arrival_Min      13354 non-null  int32
 12  Dep_Hour         13354 non-null  int32
 13  Dep_Min          13354 non-null  int32
dtypes: float64(2), int32(7), object(5)
memory usage: 1.2+ MB

In [75]:
final_df['Duration_Hour']=final_df['Duration'].str.split(" ").str[0].str.split('h').str[0]

In [77]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [78]:
final_df[final_df['Duration'] == '5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Min, Dep_Hour, Dep_Min, Duration_Hour]
Index: []

In [79]:
final_df['Duration_Hour']=final_df['Duration_Hour'].astype(int)

In [82]:
final_df['Duration_Hour']=final_df['Duration_Hour']*60

In [93]:
final_df.rename(columns = {'Duration_Hour':'Duration_Hours2Mintues'}).head(5)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hours2Mintues
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,120
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,420
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,300
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,240

In [94]:
final_df['Duration_min']=final_df['Duration'].str.split(" ").str[1].str.split('m').str[0]

In [ ]:
#***********Need to Last 2 columns Duration_min,Duration_Hours2Mintues to make one column for miutes

In [96]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [97]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [99]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [101]:
final_df.shape

(13351, 16)

In [103]:
final_df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hour,Duration_min
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,120,50
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,420,25

In [106]:
df1=pd.get_dummies(final_df['Airline'])
df2=pd.get_dummies(final_df['Source'])
df3=pd.get_dummies(final_df['Destination'])
df4=pd.get_dummies(final_df['Additional_info'])

In [110]:
final_df = pd.get_dummies(final_df, columns= ['Airline', 'Source','Destination','Additional_Info'],drop_first=True)

In [111]:
final_df.columns

Index(['Duration', 'Total_Stops', 'Price', 'Date', 'Month', 'Year',
       'Arrival_Hour', 'Arrival_Min', 'Dep_Hour', 'Dep_Min', 'Duration_Hour',
       'Duration_min', 'Airline_1', 'Airline_2', 'Airline_3', 'Airline_4',
       'Airline_5', 'Airline_6', 'Airline_7', 'Airline_8', 'Airline_9',
       'Airline_10', 'Airline_11', 'Source_1', 'Source_2', 'Source_3',
       'Source_4', 'Destination_1', 'Destination_2', 'Destination_3',
       'Destination_4', 'Destination_5', 'Additional_Info_1',
       'Additional_Info_2', 'Additional_Info_3', 'Additional_Info_4',
       'Additional_Info_5', 'Additional_Info_6', 'Additional_Info_7',
       'Additional_Info_8', 'Additional_Info_9'],
      dtype='object')

In [151]:
final_df['Duration_Hour']+final_df['Duration_min'].fillna(0).astype('float')

0        170.0
1        445.0
2       1140.0
3        325.0
4        285.0
         ...
2666    1435.0
2667     155.0
2668     395.0
2669     915.0
2670     860.0
Length: 13351, dtype: float64

In [126]:
final_df['Duration_Hour'].head()

0     120
1     420
2    1140
3     300
4     240
Name: Duration_Hour, dtype: int32

In [146]:
final_df['Duration_min'].fillna(0)

0       50
1       25
2        0
3       25
4       45
        ..
2666    55
2667    35
2668    35
2669    15
2670    20
Name: Duration_min, Length: 13351, dtype: object